:root {
    /* Paleta de Cores OFICIAL - Allure Home */
    --cor-primaria: #1c1c1c;    
    --cor-secundaria: #bbbbbb;  
    --cor-destaque: #a4856c;  
    --cor-marca: #9A4E5A;   
    --cor-texto: #333333;       
    --cor-texto-claro: #ffffff; 
  }
  
  
  html,
  body {
    height: 100%;
    margin: 0;
    font-family: var(--font-principal); 
    background-color: white;
    color: var(--cor-texto);
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex-grow: 1;
  }
  
  h1, h2, h3, h4, h5, h6 {
  }
  
  a {
    color: var(--cor-destaque);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: var(--cor-primaria);
  }

 