:root {
  --cor-primaria: #000000;
  --cor-fundo: #000000; /* Um cinza muito escuro como alternativa ao preto */
  --cor-vinho-fundo: #dadada; /* Um tom de vinho escuro e sofisticado */
  --cor-destaque: #d4af37; /* Um dourado mais vivo para contraste */
  --cor-texto: #000000; /* Texto principal quase branco */
  --cor-texto-claro: #ffffff;
}
  
  html,
  body {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-vinho-fundo); 
    color: var(--cor-texto); 
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex-grow: 1;
  }
  
  h1, h2, h3, h4, h5, h6 {
  }
  
  a {
    color: var(--cor-destaque);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: var(--cor-primaria);
  }

 